<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <%- include("navbar") %>
    <div class="textConntaienr">
        <h1 class="movieHomeTitle">Movie Valut</h1>
        <div class="movieHomeTitle">Find and add your favorite movies! (i was too lazy to add a proper home page)</div>
    </div>
</body>
</html>