<nav class="navbar">
    <a href="/"><h1 class="appName">Movie.<span>VAULT</span></h1></a>
    <a href="/addMovie"><button class="addMovieBtn">ADD MOVIE</button></a>
    <a href="/createGenre"><button class="addMovieBtn">ADD GENRE</button></a>
    <a href="/movies"><button class="addMovieBtn">MOVIES</button></a>
    <a href="/genres"><button class="addMovieBtn">GENRES</button></a>
    <div class="redline 
        <% if (url === '/') { %> redline-home 
        <% } else if (url === '/addMovie') { %> redline-addMovie 
        <% } else if (url === '/createGenre') { %> redline-createGenre 
        <% } else if (url.startsWith('/movies')) { %> redline-movies 
        <% } else if (url === '/genres') { %> redline-genres 
        <% } %>">
    </div>

    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>

<div class="sideMenuContainer">
    <a href="/addMovie"><button class="">ADD MOVIE</button></a>
    <a href="/createGenre"><button class="">ADD GENRE</button></a>
    <a href="/movies"><button class="">MOVIES</button></a>
    <a href="/genres"><button class="">GENRES</button></a>
    <button class="closeBtn">Close</button>
</div>

<script>
    const hamburger = document.querySelector('.hamburger');
    const sideMenuContainer = document.querySelector('.sideMenuContainer');
    const closeBtn = document.querySelector('.closeBtn');

    hamburger.addEventListener('click', () => {
        sideMenuContainer.classList.toggle('active');
    });

    closeBtn.addEventListener('click', () => {
        sideMenuContainer.classList.remove('active'); 
    });
</script>